*.jpg
*.pyc
*.mat
*.tdsml2
*__pycache__
*.mp4
*.svg
*.pstats

demo-sequences/*
examples-demos/*
models/*
.vscode/*
# Ignore the experiments data, except the default parameters
training/experiments/*
!training/experiments/default/parameters.json
